

.checkbox-container,
.right-container {
    display:flex;
    align-items: center;
    justify-content: space-between;   
    margin: .5rem 0;    
    box-sizing: border-box;
}
 

 

.right-container{
    padding: 0;
    margin: 0;
    width: 8rem;
    display: flex;
    align-items: center;
}

.right-container select{
    margin-left: .5rem;
}

.left-container,
.right-container{   
    height: 2.6rem;
}

.left-container{
    height: 2.6rem;
}





input[type=checkbox] { 
    margin-right: .5rem;
} 








